<app-header></app-header>

<div class="container-fluid">
       
    <div class="row">
    <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">	
        <div class="card">
            <div class="card-body pt-4">
              <h3 class="card-title"><b>Admin Card</b></h3>
              <p class="card-text">Add, Update and Delete Admin</p>
              <a [routerLink]="['/Admin']" class="btn btn-success">Display</a>
            </div>
        </div> 
    </div>
    <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">
    </div>
    <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">	
        <div class="card mcard">
            <div class="card-body">
              <h3 class="card-title"><b>Manufacturer Card</b></h3>
              <p class="card-text">Add, Update and Delete Manufacturer</p>
              <a [routerLink]="['/Manufacturer']" class="btn btn-success">Display</a>
            </div>
        </div> 
    </div>
    <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">
    </div>
    </div>

    <div class="row">
            <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">
            </div>
            <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">	
                    <div class="card dcard">
                        <div class="card-body">
                          <h3 class="card-title"><b>Distributor Card</b></h3>
                          <p class="card-text">Add, Update and Delete Distributor</p>
                          <a [routerLink]="['/Distributor']" class="btn btn-success">Display</a>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">
                </div>    
                <div class="col-sm-3" style="padding-right:0px; padding-left:0px;">	
                    <div class="card rcard">
                        <div class="card-body">
                          <h3 class="card-title"><b>Retailer Card</b></h3>
                          <p class="card-text">Add, Update and Delete Retailer</p>
                          <a [routerLink]="['/Retailer']" class="btn btn-success">Display</a>
                        </div>
                    </div> 
                </div>
    </div>


    </div>
